@import url('https://fonts.googleapis.com/css?family=Poppins');

*{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-align: center;
}
html,body{
    display:flex;
    height:100%;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
}

/* **** TABLE STYLES **** */
.ranked_table{
    background-color: white;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:20px;
    padding-right:20px;
    border-radius: 10%;
    border-spacing: 10px 20px;
    -webkit-box-shadow: 25px 28px 54px -28px rgba(25,66,12,0.5);
    -moz-box-shadow: 25px 28px 54px -28px rgba(25,66,12,0.5);
    box-shadow: 25px 28px 54px -28px rgba(25,66,12,0.5);
}
#vote_btn{
    left:80%;
    top:-20px;
    position: relative;
    border:none;
    outline:none;
    justify-items: center;
    padding: 10px 10px 7px 7px;
    background-color: green;
    color: white;
    border-radius: 15%;
    display: flex;
    align-items: center;
}
.notice{
    font-size: 9px;
    color: grey;
    font-weight:100;
}
/* **** CELL DESIGN **** */

.name{
    text-align: left;
}

.medal{
    position: relative;
    background-color: gold;
    width:45px;
    height:45px;
    border-radius: 50%;
    top:-47.5px;
    left:15px;
    z-index: 0;
}

.image_border{
    padding:0;
    margin:0px 15px 0px 0px;
    border-image: linear-gradient(to right, #12c2e9,#c471ed,#f64f59);
    
    width:55px;
    height:55px;
    border-radius:50%;
}


.profile_pic{
    position:relative;
    padding:0;
    margin:0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    z-index: 1;
}
.voteContainer{
    position: relative;
    z-index: -1;
}
.vote{
    background-color: #F62459;
    width:50px;
    height:20px;
    position: absolute;
    left:-75px;
    border-radius: 5px 0px 0px 5px ;
}

