@import url('https://fonts.googleapis.com/css?family=Poppins');
@import "./Row.css";
@import "./SearchBar.css";
@import "./RankedTable.css";
@import "./authForm.css";
@import "./Footer.css";


*{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-align: center;
    z-index: 0;
}
input{
    outline:none;
}

html,body{
    display:flex;
    width:100%;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
}


.title{
    background-color: #F62459;
    color: white;
    height: 100px;
    min-width: 200px;
    font-size: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    display:flex;
    top:-35px;
    left:-150px;
    position: relative;
    padding:0px 20px 0px 20px;
}

.notice{
    position:relative;
    top:10px;
    font-size: 9px;
    color: grey;
    font-weight:100;
}
