html,body{
    height:100%;
}

.search{
    border-top:none;
    border-left:none;
    border-right:none;
    border-bottom: solid;
    border-color: green;
    
}
.search::placeholder{
    color:green;
    opacity: 0.7;
    font-weight: 200;
}
input,input:focus{
    outline:none;
}
.search-icon{
    top:10px;
}


.blank{
    height:50%;
}

.nav-bar{
    top:50%;
    -webkit-transform: translate(0, -150%);
    -ms-transform: translate(0%, -150%);
    transform: translate(0%, -150%);
}
