@import url('https://fonts.googleapis.com/css?family=Poppins');
@import "./Row.css";
@import "./SearchBar.css";
*{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-align: center;
}
html,body{
    display:flex;
    height:100%;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
}

.Ranked{
    justify-content: center;
    align-items: center;
}

/* **** TABLE STYLES **** */
.ranked_table{
    z-index: 1;
    background-color: white;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:20px;
    padding-right:20px;
    border-radius: 10%;
    border-spacing: 10px 20px;
    -webkit-box-shadow: 25px 28px 54px -28px rgba(25,66,12,0.5);
    -moz-box-shadow: 25px 28px 54px -28px rgba(25,66,12,0.5);
    box-shadow: 25px 28px 54px -28px rgba(25,66,12,0.5);
}
#vote_btn{
    left:80%;
    top:15px;
    position: relative;
    border:none;
    outline:none;
    height:30px;
    width:60px;
    justify-content: center;
    background-color:#F62459;
    color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.title{
    background-color: #F62459;
    color: white;
    height: 100px;
    min-width: 200px;
    font-size: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    display:flex;
    top:-35px;
    left:-150px;
    position: relative;
    padding:0px 20px 0px 20px;
}

.notice{
    position:relative;
    top:10px;
    font-size: 9px;
    color: grey;
    font-weight:100;
}
