#char {
  /* margin-bottom: 20vh; */
}

#protoContainer {
  width: auto;
  height: auto;
}

#backgroundTriangle {
  /* css triangle */
  width: 0;
  height: 0;
  position: absolute;

  border-left: 100vh solid #f62459;
  border-bottom: 0 solid black;
  border-right: 0 solid black;
  border-top: 70vw solid transparent;

  z-index: -1;
  overflow: hidden;
}

#middle {
  margin: auto;
  margin-top: 20vh;
  margin-bottom: 10vh;
  font-size: 45px;
  width: 50vw;
  color: #3f3f3f;
  background-color: #f62459;
  padding: 20px;
  border-radius: 20px;
}

/* #sampleSearch {
  width: 500px;
  height: 40px;
  z-index: 1;
} */
