.overallRatingsContainer{
    height: 30px;
    width: 300px;
    padding: 2px;
    display: block;
    position: relative;
    left:300px;
    margin-bottom: 20px;
    text-align: left;
    color: #3f3f3f;
}