/* TABLE STYLES */
.ranked {
  /* position: relative; */
  position: absolute;
  top: 0;
  padding-top: 150px;
  padding-bottom: 10vh;
  justify-content: center;
  align-items: center;
  display: inherit;
  height: fit-content;
  width: 100%;
  overflow: hidden;
}

.ranked_table {
  background-color: white;
  margin: auto;
  border-radius: 30px;
  border-spacing: 10px 20px;
  width: 50vw;
  display: inherit;
}

.notice {
  position: relative;
  top: 10px;
  font-size: 9px;
  color: grey;
  font-weight: 100;
  display: inherit;
}

tbody {
  z-index: 2;
}
